@font-face {
  font-family: 'DK Midnight Chalker';
  src: url('../DK Midnight Chalker.otf') format('opentype');

}


.top{
  display: flex;
  align-items: center;
  position: relative;
}

body{
  margin: 0px;
  padding: 0px;
  background-image: url("../imgs/black-bg.jpg");
  background-size: 25%;
}

.paginas a, .login a{
  color:white;
  text-decoration: none;
  display: inline;
  justify-content: center;
  padding: 20px;
  font-family: "DK Midnight Chalker";
  top: 10px;
  font-size: 40px;
  
}

.paginas {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}


.login {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0,-50%);
}


/* este codigo e para quando passar a fiquar cinza */
.paginas a:hover, .login a:hover{
  background-color: gray;
  transition: all 0.3s;
  text-decoration: none;
  border-radius: 5px;

}

/* logo da pizza */
.logo img{
  width: 200px;
  display: flex;
}

.logo{
  cursor: pointer;
  display: inline-block;

}

.image img{
width: 700px;
background-color: black;
border-radius: 30px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.texto label {
  font-size: 50px;
  color:white;
  text-align: center;
  top: 20px;
  right: 600px;
  bottom: 280px;
  font-family: "DK Midnight Chalker";
}

 .texto {
  font-family: "DK Midnight Chalker";
  color: white;
  text-align: left;
  font-size: 25px;

}



.pizza p{
  display: flex;
  text-align: left;
  justify-items:left;


}

.pizza a{
  color:white;
  text-decoration: none;
}

.box{
  width: 150px;
  position: absolute;
  display: inline;
}

.box hover{

  background-color: red;
}
