@font-face {
  font-family: 'DK Midnight Chalker';
  src: url('../DK Midnight Chalker.otf') format('opentype');
}

.top{
  display: flex;
  align-items: center;
  position: relative;
}

body{
  margin: 0px;
  padding: 0px;
  background-image: url("../imgs/black-bg.jpg");
}

.paginas a, .login a{
  color:white;
  text-decoration: none;
  display: inline;
  justify-content: center;
  padding: 20px;
  font-family: "DK Midnight Chalker";
  top: 10px;
  font-size: 40px;
}

.paginas {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.login {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0,-50%);
}

/* este codigo e para quando passar a fiquar cinza */
.paginas a:hover, .login a:hover{
  padding: 20px;
  background-color: white;
  color: black;
  transition: all 0.3s;
  text-decoration: none;
  border-radius: 5px;
}

/* logo da pizza */
.logo img{
  width: 200px;
  display: flex;
}

.logo{
  cursor: pointer;
  display: inline-block;
}

.image img{
  width: 700px;
  background-color: black;
  border-radius: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.texto label{
  font-size: 50px;
  color:white;
  text-align: center;
  top: 20px;
  right: 600px;
  bottom: 280px;
  font-family: "DK Midnight Chalker";
}

.texto{
  font-family: "DK Midnight Chalker";
  color: white;
  text-align: left;
  font-size: 25px;
  width: 80vw;
  margin: auto;
  padding: 30px;
  box-sizing: border-box;
}

.texto h1{
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}

.texto .pizza{
  width: 400px;
  margin: auto;
  margin-bottom: 10px;
  border: 2px solid white;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
  transform: scale(1.0);
  transition: 0.3s all ease-out;
}

.texto .pizza:hover{
  transform: scale(1.1);
}

.pizza p{
  display: flex;
  text-align: left;
  justify-items:left;
}

.pizza span{
  user-select: none;
}

.pizza form input{
  display: none;
}

.pizza a{
  color:white;
  text-decoration: none;
}

.pizza.adicionar{
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pizza.adicionar span{
  font-size: 50px;
  width: 70px;
  height: 70px;
  border: 2px solid white;
  border-radius: 50%;
  display: block;
  text-align: center;
}

/* ABAIXO DAQUI É ONDE COMEÇO A MEXER CUSTOMIZAR A BOX */

/* Box */
.box{
  width: 400px;
  height: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  opacity: 0;
  transition: 0.3s all ease-in;
  border: 1px solid white;
  border-radius: 10px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

/* X de fechar a Box */
.box span{
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  font-family: sans-serif;
  border: 1px solid white;
  color: white;
  transition: 0.15s all ease-in;
}

.box span:hover{
  background-color: rgba(252,255,255,0.3);
  transform: scale(1.1);
}

/* Formulário dentro da Box */
.box form{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Inputs do Formulário */
.box form input{
  box-sizing: border-box;
  width: 70%;
  height: 45px;
  border: 0;
  border-bottom: 2px solid white;
  font-size: 23px;
  background-color: transparent;
  margin-bottom: 25px;
  color: white;
  outline: none;
  padding-left: 5px;
}

/* Placeholder dos Inputs */
.box form input::placeholder{
  color: rgba(255, 255, 255, 0.5);
}

/* Botão de Adicionar */
.box form button{
  width: 70%;
  height: 35px;
  cursor: pointer;
  background-color: rgb(63, 63, 137);
  border: 1px solid black;
  border-radius: 3px;
  font-size: 18px;
  color: white;
  transition: all 0.15s linear;
}

.box form button:hover{
  transform: scale(1.05);
}
