@font-face {
  font-family: 'DK Midnight Chalker';
  src: url('../DK Midnight Chalker.otf') format('opentype');

}


body{
    background-image: url("../imgs/black-bg.jpg");
    background-size: 25%;
}

.paginas a{
  color:white;
  text-decoration: none;
  display: inline;
  justify-content: center;
  padding: 3px;
  font-family: "DK Midnight Chalker";

}

.paginas {
  position: absolute;
  top: 20px;
  font-size: 40px;
  left: 39%;

}

/* este codigo e para quando passar a fiquar cinza */
.paginas a:hover{
  background-color: gray;
  transition: all 0.3s;
  text-decoration: none;
  border-radius: 5px;

}

.login {
  display: inline;
  margin-left: 250px;

}


/* logo da pizza */
.logo img{
  width: 200px;
  display: flex;
}

.logo{
  cursor: pointer;
  display: inline-block;

}

.image img{
width: 700px;
background-color: black;
border-radius: 30px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.texto h1 {
  font-size: 50px;
  color:white;
  text-align: center;
  top: 20px;
  right: 600px;
  bottom: 280px;
  font-family: "DK Midnight Chalker";
}

 .texto {
  font-family: "DK Midnight Chalker";
  color: white;
  text-align: left;
  font-size: 25px;

}



.pizza p{
  display: flex;
  text-align: left;
  justify-items:left;


}

.box{
  width: 150px;
  position: absolute;
  display: inline;
}

.box hover{

  background-color: red;
}
