body{
    background-image: url("../imgs/fundo.webp");
    background-size: 25%;


}

.logo a img{
width: 75px;

}

.image img{
width: 700px;
background-color: black;
border-radius: 30px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);


}