@font-face {
  font-family: 'DK Midnight Chalker';
  src: url('../DK Midnight Chalker.otf') format('opentype');
}

body{
  margin: 0px;
  padding: 0px;
  background-image: url("../imgs/black-bg.jpg");
  background-size: 25%;
}

.top{
  display: flex;
  align-items: center;
  position: relative;
}

.paginas a, .login a{
  color:white;
  text-decoration: none;
  display: inline;
  justify-content: center;
  padding: 20px;
  font-family: "DK Midnight Chalker";
  top: 10px;
  font-size: 40px;
  
}

.paginas {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}


.login {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0,-50%);
}


/* este codigo e para quando passar a fiquar cinza */
.paginas a:hover, .login a:hover{
  padding: 20px;
  background-color: white;
  color: black;
  transition: all 0.3s;
  text-decoration: none; 
  border-radius: 5px;
}



/* logo da pizza */
.logo img{
  width: 15%;
  display: flex;
}
.image img{
width: 40%;
background-color: black;
border-radius: 50px;
position: absolute;
left: 30%;
top: 20%;

transform: scale(1.0);
transition: 0.3s all ease-out;

}

.image img:hover{
  transform: scale(1.1);
  
}


.texto{
  display:flex;
  justify-content:center;
  align-items:center;
  color: white;
}

.texto p{
  font-size: 30px;
  position: absolute;
  bottom: 30px;
  font-family: "DK Midnight Chalker";
}

.logo{
  cursor: pointer;
  display: inline-block;
  
}

