body{
  background-image: url("../imgs/fundo.webp");
  background-size: 25%;
  background-attachment: fixed;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 5px;
}

.top{
  margin-left: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

/*para decorar os bottoes*/
.paginas a{
  color:white;
  text-decoration: none;
  display: inline;
  justify-content: center;
  padding: 3px;
  text-decoration: underline;

}

.login{
  display: inline;
  padding: 0px;
  margin: 0px;
  margin-left: 250px;
}

.cadastro{
  display: inline;
  padding: 0;
  margin: 0;

}

/* este codigo e para quando passar a fiquar cinza */
.paginas :hover{
  background-color: gray;
  transition: all 0.3s;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  transition: all 1s;

}

/* logo da pizza */
.logo img{
  width: 75px;
  display: flex;
}

.texto{
  display:flex;
  justify-content:center;
  align-items:center;
  color: white;
}

.image {
  display: flex;
  justify-content:center;
}

img{
  width:500px;
}
