@font-face {
  font-family: 'DK Midnight Chalker';
  src: url('../DK Midnight Chalker.otf') format('opentype');

}

body{
  margin: 0px;
  padding: 0px;
  background-image: url("../imgs/black-bg.jpg");
  background-size: 25%;
}

.top{
  display: flex;
  align-items: center;
  position: relative;
}


.paginas a, .login a{
  color:white;
  text-decoration: none;
  display: inline;
  justify-content: center;
  padding: 20px;
  font-family: "DK Midnight Chalker";
  top: 10px;
  font-size: 40px;
  
}

.paginas {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}


.login {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0,-50%);
}

/* este codigo e para quando passar a fiquar cinza */
.paginas a:hover, .login a:hover{
  padding: 20px;
  background-color: white;
  color: black;
  transition: all 0.3s;
  text-decoration: none; 
  border-radius: 5px;
}


/* logo da pizza */
.logo img{
  width: 15%;
  display: flex;
}

.logo{
  cursor: pointer;
  display: inline-block;
  
}

.box{
    border-radius: 30px;
    width: 550px;
    height: 500px;
    left: 50%;
    top: 20%;
    transform: translate(-50%, 0);
    text-align: center;
    position: absolute;
    background-color:rgba(0, 0, 0, 0.623);
    font-family: 'DK Midnight Chalker';

}

h1{
  color: white;
  font-size: 300%;
  padding-right: 52%;
  text-decoration: underline;
  }

label{
  font-size: 200%;
  padding-right: 52%;
  color: white;
}

.box input{
  margin-top: 15px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #e1e1e1;
  outline: none;
  color: #fff;
  text-align: left;
  font-size: 175%;

}

.box a {
  font-size: 30px;
  color: white;
  text-decoration: none;
  display: inline-block;

}

.submit {
  text-align: center;
  cursor: pointer;
  display: inline-block;
  padding-inline: 200px;
}

input[type=submit]{
  cursor: pointer;
}

input[type=submit] :hover{
  background-color: gray;
  transition: all 0.3s;
}