@font-face {
  font-family: 'DK Midnight Chalker';
  src: url('../DK Midnight Chalker.otf') format('opentype');

}


body{
    background-image: url("../imgs/black-bg.jpg");
    background-size: 25%;
}

.paginas a{
  color:white;
  text-decoration: none;
  display: inline;
  justify-content: center;
  padding: 3px;
  font-family: "DK Midnight Chalker";

}

.paginas {
  position: absolute;
  top: 20px;
  font-size: 40px;
  left: 39%;

}

/* este codigo e para quando passar a fiquar cinza */
.paginas a:hover{
  background-color: gray;
  transition: all 0.3s;
  text-decoration: none; 
  border-radius: 5px;

}

.login {
  display: inline;
  margin-left: 250px;

}


/* logo da pizza */
.logo img{
  width: 200px;
  display: flex;
}

.logo{
  cursor: pointer;
  display: inline-block;
  
}

  .box{
    width: 300px;
    height: 300px;
    padding: 60px;
    border-radius: 30px;
    left: 35%;
    text-align: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 100);
  }

  .box h1, h2{
    color: white;
  }

  .box input{
    padding: 15px;
    margin: 5px auto;
    border-radius: 10px;

  }
