@font-face {
  font-family: 'DK Midnight Chalker';
  src: url('../DK Midnight Chalker.otf') format('opentype');

}


.top{
  display: flex;
  align-items: center;
  position: relative;
}

body{
  margin: 0px;
  padding: 0px;
  background-image: url("../imgs/black-bg.jpg");
  background-size: 25%;
}

.paginas a, .login a{
  color:white;
  text-decoration: none;
  display: inline;
  justify-content: center;
  padding: 20px;
  font-family: "DK Midnight Chalker";
  top: 10px;
  font-size: 40px;
  
}

.paginas {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}


.login {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0,-50%);
}


/* este codigo e para quando passar a fiquar cinza */
.paginas a:hover, .login a:hover{
  padding: 20px;
  background-color: white;
  color: black;
  transition: all 0.3s;
  text-decoration: none; 
  border-radius: 5px;
}

/* logo da pizza */
.logo img{
  width: 200px;
  display: flex;
}

.logo{
  cursor: pointer;
  display: inline-block;
  
}

.texto{
  position: absolute;
  color: white;
  left: 35%;
  top: 30%;
  width: 400px;
  height: 300px;
  border-radius: 30px;
  text-align: center;
  transform: translate(-35%, -30%,);
  background-color: black;

}



p, h1{
  font-size: 30px;
  font-family: "DK Midnight Chalker";

}

.direitos-autorais{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  color: #fff;
  text-align: center;
  font-family: "DK Midnight Chalker";
  font-size: 20px;

}